Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
a="subha"
b=["subha",12,True]
c=23
d=("subha","dip",24)

In [10]:
type(a)

str

In [11]:
type(b)

list

In [12]:
type(c)

int

In [13]:
type(d)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [15]:
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1

In [16]:
type(var1)

str

In [17]:
type(var2)

str

In [18]:
type(var3)

list

In [19]:
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [20]:
a=10
b=100

In [21]:
a/b

0.1

In [22]:
a%b

10

In [23]:
a//b

0

In [24]:
a**b

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [25]:
l=["subha",True,4+5j,["a","b","c"],1,2,3,4,5,6]

In [30]:
for i in l:
    print(i)
    print(type(i))

subha
<class 'str'>
True
<class 'bool'>
(4+5j)
<class 'complex'>
['a', 'b', 'c']
<class 'list'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
A=int(input())
B=int(input())
if A

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
l1=[]
l2=[]
for i in range(0,26):
    if i%3==0:
        l1.append(i)
    else:
        l2.append(i)

In [2]:
l1

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [3]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

An object that allows you to change its values without changing its identity is a mutable object. The changes that you can perform on a mutable object's value are known as mutations. In contrast, an object that doesn't allow changes in its value is an immutable object.

In [4]:
l=[1,2,3,4,545,6]

In [6]:
l[5]

6

we can change it

In [7]:
l[5]="subha"

In [8]:
l

[1, 2, 3, 4, 545, 'subha']

so list is a mutable object

but for immutable object we cannot change it

In [11]:
d="subhadip"

In [12]:
d[6]

'i'

In [14]:
d[6]=d

TypeError: 'str' object does not support item assignment

so string is a immutable object